body{
	 background-color: black
}
h1{  
	top: 120%
	margin-left: 50pt;
	color:gray ;
}

p{  
	color:white;
}

a{left: 50%;

	float:bottom;
	font-size: 35px;
	text-decoration-line: none;
	color: white;
}

.loc{
position: absolute;
left: 60%;
top: 120%
}

.dis{
	position: absolute;
left: 50%;
top: 40%

}