h2{
color: black;
 margin-left:300px;

}

h1{
	
	color: gray;
}
a{
	text-decoration-line: none;
	color: white;

}
img{
	margin-width:500px;

}
.los{position: absolute;
	left: 33%
}
.lot{
	position: absolute;
	left: 27%;
}

p{
	color: white;
}